@keyframes crtAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 10000%;
    }
}

body {
    color: var(--primary-color);
    box-shadow: inset 0px 0px 2rem;
    background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
    animation: crtAnimation 100s linear infinite;
    background-size: 100% 90%;
    
}
.container {
    position: relative;
    width: 800px;
    height: 548px;
    margin: 40px auto;
    text-align: end;
    align-items: end;
    border: 1px solid #f1dc1a;
}

 
.start_btn {
    margin-bottom: 20px;
  }
  
  .score, .time {
    margin-bottom: 10px;
  }
  

.vaisseau {
    height: 300px;
    margin-left: 40rem;
    z-index: auto;
}

.astro-alien {
    height: 300px;
    margin-left: 38rem;
}

.game_infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#target {
    height: 100px;
    width: 100px;
    position: absolute;
    transition: 0.25s;
    animation: animateTarget 10s infinite;
}

button {
    display: flex;
    padding: 10px 60px;
    margin-bottom: 20px;
    border: 0;
    background-color:rgb(185, 10, 10);
    border-radius: 5px;
    cursor: pointer;
    cursor: url("/noun-meteorite-198337.svg"), auto;color: #ffd52c;
}



button:hover {
    padding: 10px 60px;
    margin-bottom: 20px;
    border: 0;
    background-color:#ffd52c;
    border-radius: 5px;
    cursor: pointer;
    cursor: url("/noun-meteorite-198337.svg"), auto;color: rgb(185, 10, 10);
}
@keyframes animateTarget {
    to {
        transform: translateY(-200px) rotate(90deg);
    }
}

