table {
    width: 60%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px 12px ;
    border: 1px solid #2f302b;
    text-align: left;
    
}
thead tr {
    max-width: 500px;

}
.alert {
    animation: blink-bg 1s ease-out infinite;
}
@keyframes blink-bg {

    0%,
    60% {
        color: var(--primary-color);
    }

    70%,
    100% {
        color: var(--tertiary-color);
    }
}
